<!DOCTYPE html>
<html>
  <head>
    <title>{{pageTitle}}</title>
    <!-- Aquí va el resto de los tags <meta>, <link>, etc. -->
    <link rel="stylesheet" href="../../public/css/styles.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>